ul{
    list-style: none;
}

li img{
    width: 150px;
    height: 150px;
}

@media screen and (max-width: 800px){
    #categoriasHome{
        display: none;
    }
}

.container-categorias-home li{
    background-color:rgb(185, 186, 248);
    width: 200px;
    height: 200px;
    border-radius: 50%;
  display: inline-block;
}
.container-categorias-home img{
    margin-top: 30px;
    object-fit: contain;
}