/* .item {
    display: block;
    width: 100%;
    height: 200px;
    background-position: center;
    background-repeat: non-repeat;
    background-size: cover;
} */

/* #CarouselHeader {
    height: 350px;
    overflow: hidden;
}

#CarouselHeader .carousel-inner img {
    height: 300px;
    object-fit: cover;
} */

.carousel-inner img{
    height: 420px;
    object-fit:fill;
    position: center center;
}

@media screen and (max-width: 990px){
    #ocultar-div{
        display: none;
    }
}
