*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    
}


body {
    background-color: rgb(244, 245, 254);
    display:flex;
    flex-direction:column;
    height: 100vh;
    overflow-x: hidden;
}

.container-404{
    display:flex;
    flex-direction:column;
    height: 43.66vh;
}

footer{
    margin-top:auto;
}
